form {
  background-color: #ffffff;
  padding: 2%;
  border-radius: 3%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0%;  
}

h1 {
  margin-bottom: 15%;
  margin-left: 40%;
}

button[type="submit"] {
  display: block;
  margin-left: 40%;
  margin-bottom: 5%;
}

.senhaAlinhada a {
  align-items: center;
  font-size: smaller;
  text-decoration: none;
}

.senhaAlinhada {
  display: flex;
  justify-content: space-between; /* Alinha os elementos à esquerda e à direita */
  align-items: center; /* Alinha verticalmente ao centro */
background-color: #ffffff00;  
  
}

.senhaAlinhada label {
  display: flex; /* Para alinhar o texto e o checkbox verticalmente */
  align-items: center; /* Alinha verticalmente ao centro */
}

.senhaAlinhada input {
  margin-left: 2%; /* Adiciona um espaço entre o checkbox e o texto */
}

.senha{
  display: inline-block;
 margin-left: 39%;
}

span{
  margin-left: 2%;
}

.cadastrar{
  margin-left: 30%;
  margin-bottom: 1rem;  
}

.cadastrar a{
  font-size: medium;
}

form a {
  display: inline-block;  /* Define os links como elementos em linha */
  margin: 0 5px;/* Adiciona um espaço horizontal entre eles */ 
  text-decoration: none;
}  
@media (max-width: 768px) {
  h1 {
      font-size: 1.5rem;
  }

  a {
      font-size: 1rem;
  }
}


