.container {
   display: flex;
   flex-direction: row;   
   width: 50%;
   /* Torna o formulário metade da largura da tela */
   background-color: #ffffff00;
   padding: 1%;
   /* Aumenta o espaçamento interno do formulário */
   border-radius: 10px;
   /* Aumenta o raio das bordas do formulário */
   margin: 0 auto;
   /* Centraliza o formulário horizontalmente */
   max-width: 500px;
   /* Define a largura máxima do formulário */
   flex-flow: column wrap;
}

h1 {
   text-align: center;
   margin-bottom: 5%;
}

span {
   margin-left: 0%;
   display: block;
   /* Torna os spans elementos de bloco para que apareçam acima dos inputs */
   margin-bottom: 2%;
   /*controla o espaçamento entre os spans e os inputs */
}

button[type="submit"] {
   margin: 5% 30% 2px;
   /* Define a margem inferior como 2px e remove a margem superior */
}

button {
   margin-top: 15%;
   /* Define a margem inferior como 0 e remove a margem superior e esquerda */
   margin-left: 33%;
}

