h1 {
    font-size: 300%;
    color: #333;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2vh; /* Isso garante que a div ocupe a altura total da tela */
 }