* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para o corpo da página */
body {    
    font-family: Arial;
    background-color: #edefef;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Estilo para os rótulos (spans) */
span {
    font-weight: bold;    
}

/* Estilo para o checkbox */
input[type="checkbox"] {
    margin-top: 10px;
    margin-bottom: 5%;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="num"] {
    width: 90%;
    padding: 10px;
    margin: 2% 0;/* Espaçamento vertical entre os campos */    
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 90%;
    margin-bottom: 2%;
}

input:hover[type="text"],
input:hover[type="password"],
input:hover[type="number"] {
    background-color: #b0abab;
}

label {
    display: block;
}

/* Estilo para o botão de envio */
button[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    margin-top: 15px;
    /* Espaçamento superior */
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;

}

button:hover[type="submit"] {
    background-color: #1887fe;
}

button {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    margin-top: 15px;
    /* Espaçamento superior */
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    display: flexbox;
}

button:hover {
    background-color: #fe2718;
}

/* Estilo para o link quando o mouse passa por cima */
a:hover {
    text-decoration: underline;    
}

table {
    border-collapse: collapse;
    width: 80%;
    background-color: #fff;
    color: #333;
}

table,
th,
td {
    padding: 5%;
    border: 1px solid #000000;
    /* Adicione uma borda fina se desejar */
}

th,
td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #bbbbbbcc;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

td form {
    display: inline-block;
}

td form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

td form input[type="submit"]:hover {
    background-color: #0056b3;
}

p {
    color: red;
    font-weight: bold;
}

a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;   
}

h1 {
    margin-bottom: 10%;
}